################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kod/.vs/WindowsFormsApp59/v15
/.vs/WindowsFormsApp59/v15/Server/sqlite3
